<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zb.mapper.AreaMapper">

    <select id="getAreaById" resultType="com.zb.entity.Area">
        select
                aId as aId,
                aCity as aCity
        from area
        <trim prefix="where" prefixOverrides="and | or">
            <if test="id != null">
                and id=#{id}
            </if>
        </trim>
    </select>

    <select id="getAreaListByMap" resultType="com.zb.entity.Area" parameterType="java.util.Map">
        select
                aId as aId,
                aCity as aCity
        from area
        <trim prefix="where" prefixOverrides="and | or">
                <if test="aId != null and aId!=''">
                    and aId=#{aId}
                </if>
                <if test="aCity != null and aCity!=''">
                    and aCity=#{aCity}
                </if>
        </trim>
        <if test="beginPos != null and pageSize != null ">
            limit #{beginPos},#{pageSize}
        </if>
    </select>

    <select id="getAreaCountByMap" resultType="Integer"  parameterType="java.util.Map">
        select count(*) from area
        <trim prefix="where" prefixOverrides="and | or">
                <if test="aId != null and aId!=''">
                    and aId=#{aId}
                </if>
                <if test="aCity != null and aCity!=''">
                    and aCity=#{aCity}
                </if>
        </trim>
    </select>

    <insert id="insertArea" parameterType="com.zb.entity.Area">
        insert into area(
                        aId,
                        aCity)
        values(
                     #{aId},
                    #{aCity})
    </insert>

    <update id="updateArea" parameterType="com.zb.entity.Area">
        update area
        <trim prefix="set" suffixOverrides="," suffix="where id=#{id}">
                        <if test="aId != null and aId!=''">
                            aId=#{aId},
                        </if>
                        <if test="aCity != null and aCity!=''">
                            aCity=#{aCity}
                        </if>
        </trim>
    </update>
</mapper>