<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zb.mapper.NewsMapper">

    <select id="getNewsById" resultType="com.zb.entity.News">
        select
                nsId as nsId,
                nsTitle as nsTitle,
                nsSubTitle as nsSubTitle,
                nsContent as nsContent,
                nsPic as nsPic,
                nsCreateTime as nsCreateTime
        from news
        <trim prefix="where" prefixOverrides="and | or">
            <if test="id != null">
                and id=#{id}
            </if>
        </trim>
    </select>

    <select id="getNewsListByMap" resultType="com.zb.entity.News" parameterType="java.util.Map">
        select
                nsId as nsId,
                nsTitle as nsTitle,
                nsSubTitle as nsSubTitle,
                nsContent as nsContent,
                nsPic as nsPic,
                nsCreateTime as nsCreateTime
        from news
        <trim prefix="where" prefixOverrides="and | or">
                <if test="nsId != null and nsId!=''">
                    and nsId=#{nsId}
                </if>
                <if test="nsTitle != null and nsTitle!=''">
                    and nsTitle=#{nsTitle}
                </if>
                <if test="nsSubTitle != null and nsSubTitle!=''">
                    and nsSubTitle=#{nsSubTitle}
                </if>
                <if test="nsContent != null and nsContent!=''">
                    and nsContent=#{nsContent}
                </if>
                <if test="nsPic != null and nsPic!=''">
                    and nsPic=#{nsPic}
                </if>
                <if test="nsCreateTime != null and nsCreateTime!=''">
                    and nsCreateTime=#{nsCreateTime}
                </if>
        </trim>
        <if test="beginPos != null and pageSize != null ">
            limit #{beginPos},#{pageSize}
        </if>
    </select>

    <select id="getNewsCountByMap" resultType="Integer"  parameterType="java.util.Map">
        select count(*) from news
        <trim prefix="where" prefixOverrides="and | or">
                <if test="nsId != null and nsId!=''">
                    and nsId=#{nsId}
                </if>
                <if test="nsTitle != null and nsTitle!=''">
                    and nsTitle=#{nsTitle}
                </if>
                <if test="nsSubTitle != null and nsSubTitle!=''">
                    and nsSubTitle=#{nsSubTitle}
                </if>
                <if test="nsContent != null and nsContent!=''">
                    and nsContent=#{nsContent}
                </if>
                <if test="nsPic != null and nsPic!=''">
                    and nsPic=#{nsPic}
                </if>
                <if test="nsCreateTime != null and nsCreateTime!=''">
                    and nsCreateTime=#{nsCreateTime}
                </if>
        </trim>
    </select>

    <insert id="insertNews" parameterType="com.zb.entity.News">
        insert into news(
                        nsId,
                        nsTitle,
                        nsSubTitle,
                        nsContent,
                        nsPic,
                        nsCreateTime)
        values(
                     #{nsId},
                     #{nsTitle},
                     #{nsSubTitle},
                     #{nsContent},
                     #{nsPic},
                    #{nsCreateTime})
    </insert>

    <update id="updateNews" parameterType="com.zb.entity.News">
        update news
        <trim prefix="set" suffixOverrides="," suffix="where id=#{id}">
                        <if test="nsId != null and nsId!=''">
                            nsId=#{nsId},
                        </if>
                        <if test="nsTitle != null and nsTitle!=''">
                            nsTitle=#{nsTitle},
                        </if>
                        <if test="nsSubTitle != null and nsSubTitle!=''">
                            nsSubTitle=#{nsSubTitle},
                        </if>
                        <if test="nsContent != null and nsContent!=''">
                            nsContent=#{nsContent},
                        </if>
                        <if test="nsPic != null and nsPic!=''">
                            nsPic=#{nsPic},
                        </if>
                        <if test="nsCreateTime != null and nsCreateTime!=''">
                            nsCreateTime=#{nsCreateTime}
                        </if>
        </trim>
    </update>
</mapper>